.market-container {
    position: relative;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
}

.market-container h3 {
    margin-left: 7px;
}

.market-container .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(/images/loader.gif) #ddd center center;
}
